<%= simple_form_for @group, :html => { :class => "formee" }  do |f| %>
	
	<div class="in">
		<%= f.input :name %>
		<%= f.hidden_field :parent_id, :value => params[:parent_id] || @group.parent_id %>
		
		
		<!-- ======= UI TABS ======= -->
		<div class="ui_tabs">
			<ul>
				<li><a href="#tabs-1">Users</a></li>
				<li><a href="#tabs-2">Permissions</a></li>
			</ul>
			<div id="tabs-1">
				<p>
					<% if @users %>
						<p>
							<%= f.collection_check_boxes :user_ids, @users, :id, lambda {|x| ("#{x[:name]} (#{x[:email]})")}, :item_wrapper_class => 'grid-6-12' %>
						</p>
					<% end %>
				</p>
			</div>
			<div id="tabs-2">
				<p>


				  <% current_permissions_groups.each do |models_names| %>    
				    <div class="control-group">
				      <%= field_set_tag models_names do %>
				        <%# Permission.where(:subject_class => models_names).each do |permission| %>
				          <label class="checkbox">
							<%= f.collection_check_boxes :permission_ids, @permissions.select{|c| c.subject_class == models_names }, :id, lambda {|x| ("#{x[:action]}")}, :item_wrapper_class => 'grid-1-12' %>
				          </label>
				        <%#end%>
				      <%end%>
				    </div>
				  <%end%>


				</p>
			</div>
		</div>
	</div>
	
  	<!--Form footer begin-->
	<section class="box_footer">
		<div class="grid-12-12">
			<input type="reset" class="right button red" value="Clear" />
			<%= f.button :submit, :class => "right button green" %>
		</div>
		<div class="clear"></div>
	</section>
	<!--Form footer end-->

<% end %>
