<!-- ======= .grid_12 - block begin ======= -->
<section class="grid_12">
	<div class="box">
		<div class="title"><span class="icon16_sprite i_network_monitor"></span>
			permissions
			<%= link_to 'New Permission', new_permission_path, :class => "button limegreen small fr" %>
		</div> 
	
		<div class="inside">
			<div class="in">
				
				
				<table cellpadding="0" cellspacing="0" border="0" class="display" id="datatable_1">
					<thead>
						<tr>
													    <th>Action</th>
													    <th>Subject class</th>
													    <th>Subject</th>
													    <th>Name</th>
													    <th>Group</th>
														
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					<% @permissions.each do |permission| %>
						<tr>
						
							<td><%= permission.action %></td>
						
							<td><%= permission.subject_class %></td>
						
							<td><%#= permission.subject_id %></td>
						
							<td><%= permission.name %></td>
						
							<td><%#= permission.group.name %></td>
						
						
						<td><%= link_to 'Show', permission %></td>
						<td><%= link_to 'Edit', edit_permission_path(permission) %></td>
						<td><%= link_to 'Destroy', permission, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
				
			</div>
		</div>
		
	</div>
</section>
<!-- ======= .grid_12 - block end ======= -->