<!-- ======= .grid_12 - block begin ======= -->
<section class="grid_12">
	<div class="box">
		<div class="title"><span class="icon16_sprite i_network_monitor"></span>
			permission
			<span class="fr">
				<%= link_to 'Edit', edit_permission_path(@permission) %> | <%= link_to 'Back', permissions_path %>
			</span>
		</div>
		
		<div class="inside">
			<!-- formee-->
							<p>
				  	<strong>Action:</strong>
  					<%= @permission.action %>
				</p>
							<p>
				  	<strong>Subject class:</strong>
  					<%= @permission.subject_class %>
				</p>
							<p>
				  	<strong>Subject:</strong>
  					<%= @permission.subject_id %>
				</p>
							<p>
				  	<strong>Description:</strong>
  					<%= @permission.description %>
				</p>
							<p>
				  	<strong>Group:</strong>
  					<%= @permission.group %>
				</p>
			
			<!-- formee-->
		</div>
	</div>
</section>
<div class="clear"></div>
<!-- ======= .grid_12 - block end ======= -->

