<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post , :class => "formee" }) do |f| %>
<div class="box">
	<div class="title"><span class="icon16_sprite i_user"></span>Forgot your password?</div>
	
	<div class="inside">
		<div class="in">
			<%= f.error_notification %>
			
		    <%= f.input :email, :required => true, :autofocus => true %>

			<div class="clear"></div>
			
		</div>
		<section class="box_footer">
			<div class="grid-6-12">
				<%= render "devise/shared/links" %>
			</div>
			<div class="grid-6-12">
				<%= f.button :submit, "Send me reset password instructions", :class => "right button green" %>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>
<% end %>