<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= csrf_meta_tags %>

		<title>Turismo App | <%= current_customer.name %></title>

		<!-- ====================================================================================
		STYLES BEGIN
		===================================================================================== -->

		<%= stylesheet_link_tag "application", :media => "all" %>

		<%= stylesheet_link_tag "reset", :media => "all" %>
		<%= stylesheet_link_tag "grid", :media => "all" %>
		<%= stylesheet_link_tag "config", :media => "all" %>
		<%= stylesheet_link_tag "plugin_config", :media => "all" %>

		<!-- ======================================================================================
		SCRIPTS BEGIN
		======================================================================================= -->

		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "global_plugins_scripts" %>
		


	</head>
	<body>

		<section id="layout" style="width: 50%; margin-top: 100px">

			<section id="container" class="container_12">
				<% if notice %>
					<script>
						$(function() { 
							showSucessToast('<%= notice %>');	
						});
					</script>
				<% end %>
				
				<% if alert %>
					<div class="alert error_msg"><span class="alert_close"></span> <%= alert %> </div>
				<% end %>
				
				<%= yield %>
				
			</section><!-- End of #container -->

		</section><!-- End of #layout -->
		<div class="clear"></div>


		<!-- Bottom Scripts -->
		<%= javascript_include_tag "bottom_scripts" %>
		
	</body>
</html>